<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="text-center">
      <p>&copy; Alan Chu</p>
      <p><a href="https://github.com/thechutrain/jwt-auth-boilerplate">Source Code</a> || 
      Report a <a href="https://github.com/thechutrain/jwt-auth-boilerplate/issues">Bug</a>
      </p>
    </div>
  </div>
</nav>