<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        {{!--<img alt="Brand" src="...">--}}
        HOME
      </a>
      <ul class="nav navbar-nav">
        <li><a href="/login">login</a></li>
        <li><a href="/register">register</a></li>
        <li><a id="logout-link" href="#">logout</a></li>
      </ul>
    </div>
  </div>
</nav>
