<h1> {{ msg }} </h1>

<div class="row">
  {{!-- links to protected routes--}}
  <div class="class-sm-12">
    <ul>
      <li><a href="/user-only">User only</a>: user must be signed in to access this link</li>
      <li><a href="/admin-only">Admin only</a>: user must be an admin to access this link</li>
    </ul>
  </div>

  {{!-- Admin Only Data --}}
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Admin Only Data</h3>
      </div>
      <div class="panel-body" id="admin-data-target">
        {{!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente tempora consequatur eligendi veritatis tempore repellat maiores possimus ullam explicabo, molestias, minima officia excepturi alias totam perferendis? Aliquid, tempore magni et.</p>--}}
      </div>
    </div>
  </div>
  {{!-- Signed in User Data--}}
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Signed in User Data</h3>
      </div>
      <div class="panel-body" id="logged-in-data-target">
        {{!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente tempora consequatur eligendi veritatis tempore repellat maiores possimus ullam explicabo, molestias, minima officia excepturi alias totam perferendis? Aliquid, tempore magni et.</p>--}}
      </div>
    </div>

  </div>
</div>