<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1> {{ msg }} </h1>
    {{!-- login form--}}
    <form action="/auth/register" method="POST">
      <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" id="username"/>
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="password"/>
      </div>
       <div class="form-group">
        <label for="password2">confirm password</label>
        <input type="password" class="form-control" id="password2"/>
      </div>
      <button class="btn btn-info center-block" id='register-btn'>Register</button>
    </form>

  </div>
</div>